.container_warp {
  height: 100vh;
  padding-top: 3rem;
  background-color: #eaeae8;
}

h1 {
  font-family: "halcom", sans-serif;
  font-weight: 700 !important;
  text-align: center;
}

.list_menu {
  margin: 2rem 0 0 0;
  list-style: none;
  padding: 0;
}

.menu a {
  display: block;
  padding: 2rem 0;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  text-decoration: none;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.06), 2px 2px 10px rgba(0, 0, 0, 0.04);
}

header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

header .btn_home {
  position: absolute;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  outline: 0;
  border: none;
  background: none;
}

header h6 {
  margin: 0;
}

.content_wrap {
  height: 100%;
  background-color: #eaeae8;
  border-radius: 2rem 2rem 0 0;
}

.content_wrap .container h2 {
  padding: 2rem 0 0;
  font-size: 1.25rem;
  font-family: "halcom", sans-serif;
  font-weight: 500 !important;
  text-align: center;
}

.item_cloth {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}

.item_box {
  width: 17rem;
  height: 17rem;
  background-color: #cec5b6;
  border-radius: 2rem;
}

.item_box.aufgabe2 {
  background-color: #939089;
}

.item_box.aufgabe3 {
  background-color: #cdcdcf;
}

.item_box img {
  width: 100%;
  transform: translateY(-3rem);
}

.item_info {
  padding-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item_info p {
  margin-top: 1rem;
}
